 body {
     background: #eeeded;
     font-family: "Arial", sans-serif;
 }
 /* common*/

 * {
     margin: 0;
     padding: 0;
 }

 ul,
 li {
     list-style: none;
 }

 .container {
     background: #fff;
     width: 645px;
     margin: 45px auto 0;
 }

 .header {
     background: #004990;
     width: 100%;
     height: 100px;
     position: relative;
 }

 .nav {
     overflow: hidden;
     float: right;
     margin-top: 22px;
 }

 .nav li {
     color: #fff;
     float: left;
 }

 .logo {
     position: absolute;
     bottom: 0;
     left: 2%;
 }

 .follow {
     position: absolute;
     bottom: 6px;
     left: 45%;
 }

 .share {
     position: absolute;
     bottom: 6px;
     right: 0%;
 }

 .line {
     width: 100%;
     height: 5px;
     background: black;
     opacity: .1;
     display: block;
 }

 .content-box {
     width: 95%;
     margin: 0 auto;
 }

 .content-box img {
     width: 100%;
     vertical-align: bottom;
 }

 .content-box>div {
     margin-top: 30px;
 }

 .content-box p {
     margin-top: 15px;
     font-family: "Arial", sans-serif;
     font-size: 13px;
     letter-spacing: 0.2;
     line-height: 20px;
 }

 .content-box a {
     color: #6699cc;
     text-decoration: none
 }

 .big-tit {
     font-size: 26px;
 }

 .clear {
     overflow: hidden;
 }

 .left {
     float: left;
     width: 52%;
 }

 .right {
     float: right;
     width: 45%;
 }
 /* common end*/

 .section-top .text-area {
     padding: 15px 25px;
     background: #004990;
     color: #fff;
     font-family: "Arial", sans-serif;
     font-size: 13px;
     line-height: 20px;
 }

 .footer {
     background: #004990;

     padding: 20px;

     text-align: center;
     color: #fff;
     /*  margin:0 auto;
         width:90%;*/
 }

 .footer p {
     margin-top: 3px;
     font-family: "Arial", sans-serif;
     font-size: 13px;
     letter-spacing: 0.2;
     line-height: 20px;
 }

 .april {
     font-family: "Arial", sans-serif;
     font-size: 13px;
     color: #fff;
     position: absolute;
     right: 1%;
     top: 7%;
 }

 a:hover {
     text-decoration: underline!important;
 }
 .nav a {
   color:#fff;
   text-decoration: none;
   font-family: "Arial", sans-serif;
 }